%border {
  border: 1px solid black;
  border-collapse: collapse;
}

.Header {
  @extend %border;
  display: inline-block;
  width: 100%;
  height: 10%;
}

.Header__Price {
  @extend %border;
  display: inline-block;
  width: 33%;
  height: 100%;
  vertical-align: top;
  text-align: right;
}

.Header__CurrentBalance {
  @extend %border;
  display: inline-block;
  width: 33%;
  height: 100%;
  vertical-align: top;
  text-align: right;
}

.Header__TotalBalance {
  @extend %border;
  display: inline-block;
  width: 34%;
  height: 100%;
  vertical-align: top;
  text-align: right;
}
