.Nav__Login {
  display: inline-block;
  width: 98%;
}

.Login__empty {
  display: inline-block;
  width: 1%;
}

.Login__account {
  display: inline-block;
  width: 85%;
  text-align: right;
}

.Login__balance {
  display: inline-block;
  width: 14%;
}
